<form action="POST">
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                    </div>
                    <input class="form-control" placeholder="First name" type="text" name="firstname" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                    </div>
                    <input class="form-control" placeholder="Last name" type="text" name="lastname" required>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email address" type="email" name="email" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Phone number" type="text" name="phone" required>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
            </div>
            <input class="form-control" placeholder="Shopify website url" type="text" name="website" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group input-group-alternative">
                    <select id="specialty" name="products_of_interest" class="selectpicker" data-title="Product of interest" data-style="btn-secondary select-with-transition shadow-none text-dark bg-white" data-menu-style="dropdown-blue" tabindex="3" required>
                        <option value="Inventory Management">Inventory Management</option>
                        <option value="Warehouse Management">Warehouse Management</option>
                        <option value="Product Management">Product Management</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group input-group-alternative">
                    <select id="specialty" name="warehouse_yes_no" class="selectpicker" data-title="Do you have a warehouse?" data-style="btn-secondary select-with-transition shadow-none text-dark bg-white" data-menu-style="dropdown-blue" tabindex="3" required>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success btn-round btn-block btn-lg">Get free
            trial</button>
    </div>
</form>