{{ define "main"}}
<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 home-hero-image">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex position-relative">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-10" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">
                            <h1 class="display-1 text-white">Hello World
                            </h1>
                            <h2 class="h4 text-white w-75 mb-5">Sub headline</h2>
                            <div class="btn-wrapper">
                                <a href="" class="btn btn-success btn-icon mb-3 mb-sm-0">
                                    <!-- <span class="btn-inner--icon"><i class="fas fa-browser"></i></span> -->
                                    <span class="btn-inner--text">Do some action</span>
                                </a>
                                <a href="#first" class="btn btn-white btn-icon mb-3 mb-sm-0">
                                    <!-- <span class="btn-inner--icon"><i class="fal fa-code"></i></span> -->
                                    <span class="btn-inner--text">Learn more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG section-separator -->
            <div class="section-separator section-separator-bottom section-separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>
</main>
{{ end }}
{{ define "pagescripts" }}
{{ end }}